name: Match chart version and push to ACR

on:
  push:
    tags: 
      - 'v*'

  workflow_dispatch:
    inputs:
      version:
        required: true
        type: string
env:
  HELM_EXPERIMENTAL_OCI: 1

permissions:
  contents: write
  pull-requests: write

jobs:
  build_and_push:
    uses: MapColonies/shared-workflows/.github/workflows/build-and-push.yaml@master
    secrets: inherit
